.ResultsContainer {
	position: fixed;
	bottom: calc(var(--fixed) * 4);
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: var(--max-width);
	height: 100%;
	max-height: calc(var(--base) * 25);
	padding: calc(var(--space) * 1.25);
	background-color: var(--bg);
	color: var(--text);
	border: solid 2px var(--card);
	border-radius: var(--radius1);
	box-shadow: var(--shadow);
	z-index: 999;
	overflow: hidden;
}

.ResultsList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space);
	height: 100%;
	padding: 0;
	margin: 0;
	border-radius: var(--radius2);
	overflow-y: auto;
}

.ResultItem {
	cursor: pointer;
	outline: none;
	padding: var(--space);
	font-size: 0.9em;
	border: solid 2px var(--card);
	border-radius: var(--radius2);
	background-color: var(--card);
	opacity: 0.75;
	transition: background-color var(--fast), opacity var(--fast), border-color var(--fast);
}

.ResultItem:hover,
.ResultItem:focus {
	opacity: 1;
	border-color: var(--accent);
}
