.reviewsContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: calc(var(--base) * 16);
	background-color: var(--bg);
	z-index: 1001;
	box-shadow: var(--shadow);
}

.reviewsList {
	display: flex;
	overflow-x: auto;
	list-style: none;
	margin: 0;
	gap: var(--space);
	width: 100%;
	height: auto;
	padding: calc(var(--space) * 2);
	scroll-snap-type: x proximity;
}

.reviewCard {
	flex: 0 0 auto;
	width: 100%;
	max-width: calc(var(--base) * 16);
	height: calc(var(--base) * 8);
	background-color: var(--card);
	color: var(--text);
	border-radius: var(--radius1);
	padding: var(--space);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: calc(var(--base) * 0.7);
	box-shadow: var(--shadow);
	border: solid 2px var(--card);
	opacity: 0.7;
	overflow: hidden;
	transition: border var(--fast), opacity var(--fast);
}

.reviewCard:hover {
	border-color: var(--accent);
	opacity: 1;
}
