@font-face {
	font-family: 'Manrope';
	src: url('./fonts/Manrope.ttf') format('truetype');
	font-display: swap;
}

:root {
	--base: min(1.5rem, 4.5vw);

	--fixed: calc(var(--base) * 1);

	--max-width: calc(var(--base) * 20);

	--space: calc(var(--base) * 0.5);

	--radius1: calc(var(--base) * 0.75);
	--radius2: calc(var(--base) * 0.25);

	--fast: 0.25s ease-out;
	--slow: 0.5s ease-out;

	--shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	font-family: 'Manrope', sans-serif;
	line-height: calc(var(--base) * 1.25);
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden; /* Para evitar scrollbars da página se o mapa for 100vh */
	transition: background var(--fast), color 0.25s var(--fast);
}

#root {
	width: 100vw;
	height: 100dvh;
}

/* Leaflet map container takes full height */
.leaflet-container {
	height: 100%;
	width: 100%;
}

.gradient {
	z-index: 1001;
	position: absolute;
}
.top {
	top: 0;
	left: 0;
	width: 100%;
	height: calc(var(--base) * 1);
	background: linear-gradient(var(--bg), #00000000);
}
.bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(var(--base) * 1);
	background: linear-gradient(var(--bg), #00000000);
	rotate: 180deg;
}
.left {
	top: 0;
	left: 0;
	height: 100%;
	width: calc(var(--base) * 1);
	background: linear-gradient(to right, var(--bg), #00000000);
}
.right {
	top: 0;
	right: 0;
	height: 100%;
	width: calc(var(--base) * 1);
	background: linear-gradient(to left, #00000000, var(--bg));
	rotate: 180deg;
}
