.header {
	position: absolute;
	top: var(--fixed);
	right: var(--fixed);
	display: flex;
	z-index: 1000;
	gap: var(--space);
}

.button {
	cursor: pointer;
	padding: var(--space);
	background-color: var(--card);
	color: var(--text);
	border: solid 2px var(--card);
	border-radius: var(--radius1);
	box-shadow: var(--shadow);
	transition: background-color var(--fast);
}

.button:hover {
	opacity: 0.8;
}
