#Header {
  z-index: 1001;
  position: fixed;
  top: calc(var(--base) * 0.75);
  right: calc(var(--base) * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--base) * 0.25);
  border: none;
}

.buttonHeader {
  width: calc(var(--base) * 2.5);
  height: calc(var(--base) * 2.5);
  padding: calc(var(--base) * 0.5);
  color: var(--text);
  background: var(--bg);
  border: none;
  border-radius: calc(var(--base) * 0.5);
  box-shadow: rgba(00, 00, 00, 0.2) 0px 2px 8px 0px;
}
