.mapContainer {
	width: 100%;
	height: 100%;
}

.leafletPopupContent {
	color: var(--text);
	background-color: var(--bg);
}

.leafletPopupContentWrapper {
	background-color: var(--bg);
	color: var(--text);
	border-radius: var(--radius1);
	box-shadow: var(--shadow);
}

.leafletPopupTip {
	background: var(--bg);
}

.tileLayerThemed {
	filter: var(--map-filter, none);
}
